.board-title {
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
}

.column-container {
  display: flex;
  align-items: flex-start;
  padding: 10px 5px;
}

.column {
  background: #dfe1e6;
  margin: 5px;
  width: 400px;
}

.column-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 50px;
}
