<div class="board-container">
  <h3 class="board-title">{{board.name}}</h3>
  <div class="column-container">
    <app-column *ngFor="let column of $columns | async"
                [allDropLists]="allDropLists"
                [column]="column"
                (itemSwitchedColumn)="handleItemSwitchedColumn($event)"></app-column>
    <mat-card class="column">
      <mat-card-content class="column-content">
        <app-add buttonText="Add a Column"
                 placeholderText="Column Name"
                 (addedInput)="addColumn($event)"></app-add>
      </mat-card-content>
    </mat-card>
  </div>
</div>