.board-title {
  color: white;
  margin-left: 1rem;
  margin-bottom: 0;
}

.column-container {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0.5rem;
}

.column {
  background: #dfe1e6;
  margin: 0.5rem;
  width: 20rem;
}

.column-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 1rem;
}
