.column {
  background: #dfe1e6;
  margin: 5px;
  width: 400px;
}

.column-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 50px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  margin-right: 8px;
}
