.column {
  background: #dfe1e6;
  margin: 5px;
  width: 400px;
}

.column-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 50px;
}

.column-drag-zone {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  margin-right: 8px;
}

.cdk-drag {
  transition: transform 100ms ease;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  transition: transform 100ms ease;
}
