.column {
  background: #dfe1e6;
  margin: 5px;
  min-width: 400px;
}

.column-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 50px;
}
