<button mat-button
        *ngIf="!addModeEnabled; else addItemTemplate"
        color="accent"
        (click)="enableAddMode()">
  {{buttonText}}
</button>
<ng-template #addItemTemplate>
  <div class="input-container">
    <mat-form-field *ngIf="addModeEnabled">
      <input matInput
             type="text"
             [placeholder]="placeholderText"
             #itemNameEl
             (keydown.enter)="add($event)">
    </mat-form-field>
    <div class="button-container">
      <button mat-icon-button
              class="cancel-button"
              (click)="disableAddMode()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-flat-button
              color="accent"
              (click)="add($event)">
        Add
      </button>
    </div>
  </div>
</ng-template>